<form action="/" method="post">
  <p>Image location:</p>
  <input type="text" name="post[image]" />
  <p>Message:</p>
  <input type="text" name="post[message]" /></br>
  <p>X Coordinate:</p>
  <input type="text" name="post[x_coord]" />
  <p>Y Coordinate:</p>
  <input type="text" name="post[y_coord]" />
	<p>Font Family:</p>
	<input type="text" name="post[font_family]" />
	<p>Font Size:</p>
	<input type="text" name="post[font_size]" />
	<p>Color:</p>
	<input type="text" name="post[color]" />
  <input type="submit" value="Submit" />
</form>